{# Generic confirm modal: message + Cancel + Confirm button. Triggered via JS: showConfirmModal(message, title, confirmLabel, onConfirm). #}
<div class="modal fade" id="adminConfirmActionModal" tabindex="-1" aria-labelledby="adminConfirmActionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="adminConfirmActionModalLabel">Confirmar</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p id="adminConfirmActionMessage" class="mb-0"></p>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="adminConfirmActionBtn">Confirmar</button>
      </div>
    </div>
  </div>
</div>
