{% extends "base.html" %}
{% from "admin/_macros.html" import uf_select %}
{% block title %}{{ "Editar fornecedor" if supplier else "Novo fornecedor" }}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form method="post">
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">Nome *</label>
          <input type="text" name="name" class="form-control" required value="{{ supplier.name if supplier else '' }}" />
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">Documento (CPF/CNPJ)</label>
          <div class="input-group">
            <input type="text" name="document" class="form-control" value="{{ supplier.document if supplier else '' }}" />
            <button type="button" class="btn btn-primary" data-cnpj-consult-btn>Buscar CNPJ</button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">CEP</label>
          <div class="input-group">
            <input type="text" name="cep" class="form-control" value="{{ supplier.cep if supplier else '' }}" data-mask="cep" maxlength="9" placeholder="00000-000" />
            <button type="button" class="btn btn-primary" data-cep-consult-btn>Consultar CEP</button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">Rua / logradouro</label>
          <input type="text" name="street" class="form-control" value="{{ supplier.street if supplier else '' }}" />
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">Bairro</label>
          <input type="text" name="neighborhood" class="form-control" value="{{ supplier.neighborhood if supplier else '' }}" />
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">Cidade</label>
          <input type="text" name="city" class="form-control" value="{{ supplier.city if supplier else '' }}" />
        </div>
        <div class="col-12 col-md-3">
          <label class="form-label d-block">Estado (UF)</label>
          {{ uf_select('state', supplier.state if supplier else '', 'supplier_state_page') }}
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">Complemento</label>
          <input type="text" name="address" class="form-control" value="{{ supplier.address if supplier else '' }}" />
        </div>
        <div class="col-12">
          <div class="form-check">
            <input type="checkbox" name="is_active" class="form-check-input" id="supplier_is_active_page" {% if not supplier or supplier.is_active %}checked{% endif %} />
            <label class="form-check-label" for="supplier_is_active_page">Fornecedor ativo</label>
          </div>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-end mt-4 pt-2 border-top">
        <a href="{{ url_for('admin.suppliers_list') }}" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

